asgiref==3.7.2
distlib==0.3.6
Django==4.2.4
django-cors-headers==4.2.0
django-filter==23.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.12.0
platformdirs==3.5.1
protobuf==4.21.12
PyJWT==2.8.0
pytz==2023.3
rest-framework-simplejwt==0.0.2
sqlparse==0.4.4
virtualenv==20.23.0
